.nav-a {
	font-size: 16px ;
	color: darkblue;
}
 
.active {
	color: orangered;
}

.article1{
	color: orangered;
	

}



.date {
	background-color: #3D58A6;
	width: 56px;
	height: 56px;
	font-size: 37px;
	color: white;
	margin-top: 44px;
	margin-bottom: 7px;
	padding: 7px 10px;




}

/*.title {
	border-width: 1px;
	border-style: solid;
	color: black;	
}*/

/*.title {
	border: 2px solid black;

}*/

/*.title{
	margin:100px;
}

.title{
	padding: 20px;
}*/



/*	.title{
		width: 200px;
		height: 200px;
	}

*{
	box-sizing: border-box;
}*/


.text1{
	border: 2px solid red;
	display: none;

}

.text2{
	border: 2px solid blue;
	display: none;
}

.logo{
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}

.navigation{
	display: inline-block;
	vertical-align: middle;
	
}

.nav-li{
	display: inline-block;
	margin-right: 20px;
	font-size: 22px;

}

.container-block{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.left-block{
	background-color: #F2F2F2;
	width: 570px;
	display: inline-block;
	padding: 13px 15px 24px 20px;
}

.right-block{
	background-color: lightblue;
	width: 570px;
	display: inline-block;
	padding: 13px 15px 24px 20px;
	margin-left:26px; 
}

.text-block{
	display: inline-block;
	width: 355px;
	vertical-align: middle;
	margin-left: 60px;
}

.image-block{
	vertical-align: middle;
}

.title-block{
	margin-block: 12.5px;
}

.banner{
	width: 1170px;	
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 77px;

}

.header{
	margin-left: 30px;
	margin-top: 36px;
}

.container-heading{
	margin-top: 121px;
	margin-bottom: 31px;
}

.footer{
	margin-left: 125px;
	margin-top: 69px;
}

.fb-logo{
	margin-right: 66px;
}

.month{
	color: #3D58A6;
	margin-bottom: 23px;

}

.article{
	margin-left: 30px;

}


.title{
	font-size: 20px;
	margin-bottom: 16px;
}

.article-image{
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}

.article-paragraph{
	width: 930px;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.p2{
	margin-top: 31px;
}

/*.contact{
	background-color: #E6E6E6;
	width: 100%;
	height: 570px;
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.contact-information{
	color: royalblue;
	font-size: 20px;
	margin-bottom: 10px;
	
}

.contact-class{
	color: lightslategrey;

}


.contacts{
	display: inline-block;
	vertical-align: top;
	
}


.map{
	display: inline-block;
	
	
}*/

.section-contact{
	background-color: #E6E6E6;;
}

.container{
	width: 1177px;
	margin-left: 0 auto;
}

.left-container{
	display: inline-block;
	vertical-align: top;
}

.right-container{
	display: inline-block;
	vertical-align: top;
	margin-left: 75px;
}